html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=5);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.center {
  width: 13px;
  height: 13px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  /* x-axis negative to the left, y-axis negative to the top */
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hand {
  width: 50%;
  background: black;
  position: absolute;
  top: 50%;
  /* 50% by default. 100% along x-axis puts pivot point on right-hand side */
  transform-origin: 100%;
  /* since divs are block and left-to-right by default, it's horizontal, but want it vertical to be pointing at 12:00 */
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
  width: 25%;
  right: 50%;
  z-index: 1;
  height: 6px;
}

.second-hand {
  background: red;
  height: 2px;
}

.min-hand {
  width: 45%;
  right: 50%;
  z-index: 1;
  height: 4px;
}
